<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar reserva</title>

    <!--CSS PROPIOS-->
    <link rel="stylesheet" href="/css/registrarCancha.css">
    <link rel="stylesheet" href="/css/reservarCancha.css">
    <link rel="stylesheet" href="/css/globalForm.css">
    <link href="/css/jdSlider.css" rel="stylesheet" />
    <link href="/css/headerJugador.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />
    <!-- CSS EXTERNOS -->
    <!-- CSS EXTERNOS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Kalam&family=Roboto&family=Satisfy&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstraps/plugins/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Kalam&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="main-header">
        <div class="menu">
            <div class="copy-header">
                <img src="/img/logo-rayas.png" alt="Logo de se juega?" class="logo">

                <a href="#" class="menu-hamburguesa">
                    <i class="fa-solid fa-bars"></i>
                </a>

                <div class="menu-cont2">
                    <a class="txtNav1" href="/userPlayer/perfilDeJugador/<%- userLoggedPlayer.id %>">Mi perfil</a>
                    <a class="txtNav1" href="/userPlayer/perfilDeJugador/<%- userLoggedPlayer.id %>/equipo">Mi
                        equipo</a>
                    <a class="txtNav4" href="/userPlayer/buscarJugador/"> <i class="fa-solid fa-person-running"></i> Nos
                        falta uno</a>
                    <a class="txtNav5" href="/userPlayer/perfilDeJugador/<%- userLoggedPlayer.id %>/carrito">
                        <i class="fa-solid fa-cart-shopping"></i> Mi reserva
                    </a>
                    <a class="txtNav2" href="#"><i class="fa-solid fa-bell"></i></a>
                    <a class="txtNav6" href="/userPlayer/logoutPlayer"><i
                            class="fa-solid fa-arrow-right-from-bracket"></i>
                        Chau
                    </a>

                </div>
            </div>
        </div>
    </header>
    <form action="/userPlayer/perfilDeJugador/<%- userLoggedPlayer.id %>/elegirCancha" method="POST">
        <div class="tarjeta">
            <div class="item-tarjeta">
                <label >Deporte:</label>
                <select class="form-control" id="deporte1" name="deporte" required>
                    <option value="" disabled selected>Buscar por deporte</option>
                    <% deportes.forEach(deporte => { %>
                    <option value="<%= deporte.id %>"><%= deporte.deporte %></option>
                    <% }); %>
                </select>
            </div>
            <div class="item-tarjeta">
                <label for="zonaDeJuego">Zona de juego:</label>
                <select class="form-control" id="zonaDeJuego" name="zonas">
                    <option value="" disabled selected> Buscar por zona de juego</option>
                    <% zonas.forEach(zonas => { %>
                    <option value="<%= zonas.provincia %>"><%= zonas.provincia %></option>
                    <% }); %>
                </select>
            </div>
            <div class="item-tarjeta">
                <label >Lugar:</label>
                 <select class="form-control" id="dueñosCancha" name="dueñosCancha">
                     <option value="" disabled selected>Buscar por nombre del lugar</option>
                     <% dueñosCancha.forEach(dueñosCancha => { %>
                     <option value="<%= dueñosCancha.id %>"><%= dueñosCancha.nombre_del_lugar %></option>
                     <% }); %>
                 </select>
                <!-- <input type="text" placeholder="Ej: Club los Alamos" required> -->
            </div>


            <div class="item-tarjeta">
                <label >Tipo de la cancha:</label>
                 <select class="form-control" id="tiposCancha" name="tiposCancha" required>
                     <option value="" disabled selected>Buscar por material de la cancha</option>
                     <% tiposCancha.forEach(tiposCancha => { %>
                     <option value="<%= tiposCancha.id %>"><%= tiposCancha.material %></option>
                     <% }); %>
                 </select>
            </div>

            <div class="otro-item-tarjeta">
                <select class="form-control" id="dias" name="dia" >
                    <option value="" disabled selected> Buscar por dia </option>
                    <% dias.forEach(dias => { %>
                    <option value="<%= dias.id %>"><%= dias.dia %></option>
                    <% }); %>
                </select>
                <select class="form-control" id="horarios" name="hora" >
                    <option value="" disabled selected> Buscar por horario </option>
                    <% horarios.forEach(horarios => { %>
                    <option value="<%= horarios.id %>"><%= horarios.hora %></option>
                    <% }); %>
                </select>
            </div>
            
            <div class="item-tarjeta boton-enviar">
                <button type="submit">Buscar</button></a>
            </div>
        </div>
    </form>
</body>

</html