<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="widthh=device-widthh, initial-scale=1" />

  <title>Formulario de datos</title>

  <!--=====================================
	PLUGINS DE CSS
	======================================-->
  <%- include('../css-externos') %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/formularioDatosCancha.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Kalam&family=Roboto&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="contenedor-general">

    <section class="contenedor-imagen">

      <div class="logo">
        <img src="/img/logo-fondo-transparente.png" alt="">
      </div>

      <div id="validateForm">

        <div class="validate-form">
          <label for="email">Mail <span class="asterisco">*</span></label>
          <input id="email" class="form-control input <%= locals.errors && errors.email ? 'is-invalid' : null %>"
            name="email" type="email" value="<%= locals.oldData ? oldData.email : null %>">
          <% if (locals.errors && errors.email) { %>
          <div class="text-danger msg">
            <%= errors.email.msg %>
          </div>
          <% } %>
        </div>

        <br>
        <div class="validate-form">
          <label for="Contraseña" >Contraseña <span class="asterisco">*</span></label>
            <div class="icon-div">
              <input id="password" name="password"
                class="form-control input <%= locals.errors && errors.password ? 'is-invalid' : null %>" type="password">
              <i class="bi bi-eye-slash" id="togglePassword" style="color: black"></i>
            </div>
            <% if (locals.errors && errors.password) { %>
            <div class="text-danger msg">
              <%= errors.password.msg 
              %>
            </div>
            <% } %>
            
        </div>
        
        
        <div id="popover-password" class="margin validate-form">
          <p><span id="result"></span></p>
          <div class="progress">
            <div id="password-strength"
              class="progress-bar"
              role="progressbar" 
              aria-valuenow="40"
              aria-valuemin="0"
              aria-valuemax="100"
              style="width:0%">
            </div>
          </div>
        </div>

        <div class="validate-form">
          <ul class="list-unstyled">
            <li>
              <span class="low-upper-case center">
                <i class="fas fa-circle" aria-hidden="true"></i>&nbsp;Tiene mayúsculas y minúsculas
              </span>
            </li>

            <li>
              <span class="one-number center">
                <i class="fas fa-circle" aria-hidden="true"></i>&nbsp;Tiene números y letras
              </span>
            </li>

            <li>
              <span class="one-special-char center">
                <i class="fas fa-circle" aria-hidden="true"></i>&nbsp;Tiene algún caracter especial
              </span>
            </li>

            <li>
              <span class="eight-character center">
                <i class="fas fa-circle" aria-hidden="true"></i>&nbsp;Tiene más de siete caracteres
              </span>
            </li>

          </ul>
        </div>

      </div>

    </section>

    <div class="formulario-div2">
    <form class="div2" action="/register/registerOwner" method="POST" enctype="multipart/form-data">
      <h1>Registro de Dueño</h1>
      <div class="form-group">
        <div class="input-group">
          <div class="entre-divs">
            <div class="horizontal">
            <div>
              <label for="nombre">Nombre <span class="asterisco">*</span></label>
              <input id="nombre" name="nombre" autocapitalize="none"
                class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" type="nombre"
                value="<%= locals.oldData ? oldData.nombre : null %>">
              <% if (locals.errors && errors.nombre) { %>
              <div class="text-danger msg">
                <%= errors.nombre.msg %>
              </div>
              <% } %>
            </div>
            <br>
            <div>
              <label for="apellido">Apellido <span class="asterisco">*</span></label>
              <input id="apellido" name="apellido"
                class="form-control <%= locals.errors && errors.apellido ? 'is-invalid' : null %>" type="apellido"
                value="<%= locals.oldData ? oldData.apellido : null %>">
              <% if (locals.errors && errors.apellido) { %>
              <div class="text-danger msg">
                <%= errors.apellido.msg %>
              </div>
              <% } %>
            </div>
          </div>
            <br>
            <div class="horizontal">
            <div>
              <label for="nombreDelLugar">Nombre del lugar <span class="asterisco">*</span></label>
              <input type="text"
                class="form-control <%= locals.errors && errors.nombreDelLugar ? 'is-invalid' : null %>"
                id="nombreDelLugar" name="nombreDelLugar" value="<%= locals.oldData ? oldData.nombreDelLugar : null %>">
              <% if (locals.errors && errors.nombreDelLugar) { %>
              <div class="text-danger msg">
                <%= errors.nombreDelLugar.msg %>
              </div>
              <% } %>
            </div>
            <br>
            <div>
              <label for="provincia">Provincia <span class="asterisco">*</span></label>
              <input type="text" class="form-control <%= locals.errors && errors.provincia ? 'is-invalid' : null %>"
                id="provincia" name="provincia" value="<%= locals.oldData ? oldData.provincia : null %>">
              <% if (locals.errors && errors.provincia) { %>
              <div class="text-danger msg">
                <%= errors.provincia.msg %>
              </div>
              <% } %>
            </div>
            </div>
            <br>
            <div class="horizontal">
            <div>
              <label for="localidad">Localidad <span class="asterisco">*</span></label>
              <input type="text" class="form-control <%= locals.errors && errors.localidad ? 'is-invalid' : null %>"
                id="localidad" name="localidad" value="<%= locals.oldData ? oldData.localidad : null %>">
              <% if (locals.errors && errors.localidad) { %>
              <div class="text-danger msg">
                <%= errors.localidad.msg %>
              </div>
              <% } %>
            </div>
            <br>
            <div>
              <label for="municipio">Municipio <span class="asterisco">*</span></label>
              <input type="text" class="form-control <%= locals.errors && errors.municipio ? 'is-invalid' : null %>"
                id="municipio" name="municipio" value="<%= locals.oldData ? oldData.municipio : null %>">
              <% if (locals.errors && errors.municipio) { %>
              <div class="text-danger msg">
                <%= errors.municipio.msg %>
              </div>
              <% } %>
            </div>
            </div>
            <br>
            <div class="horizontal">
            <div>
            <label for="calle">Calle <span class="asterisco">*</span></label>
            <input type="text" class="form-control <%= locals.errors && errors.calle ? 'is-invalid' : null %>"
              id="calle" name="calle" value="<%= locals.oldData ? oldData.calle : null %>">
            <% if (locals.errors && errors.calle) { %>
            <div class="text-danger msg">
              <%= errors.calle.msg %>
            </div>
            <% } %>
          </div>
          <br>
          <div>
            <label for="numeracion">Numeración <span class="asterisco">*</span></label>
            <input type="number" class="form-control <%= locals.errors && errors.numeracion ? 'is-invalid' : null %>" id="numeracion" name="numeracion"
            value="<%= locals.oldData ? oldData.numeracion : null %>"> 
            <% if (locals.errors && errors.numeracion) { %>
              <div class="text-danger msg">
                <%= errors.numeracion.msg %>
              </div>
            <% } %>
          </div>
          </div>
          <br>
          <div class="horizontal">
            <div>
            <label for="telefono">Telefono <span class="asterisco">*</span></label>
            <input type="number" class="form-control <%= locals.errors && errors.telefono ? 'is-invalid' : null %>" id="telefono" name="telefono" 
            value="<%= locals.oldData ? oldData.telefono : null %>"/>
            <% if (locals.errors && errors.telefono) { %>
              <div class="text-danger msg">
                <%= errors.telefono.msg %>
              </div>
            <% } %>
          </div>
          <br>
          <div>
            <label for="telefono2">Contacto de emergencia <span class="asterisco">*</span></label>
            <input type="number" class="form-control <%= locals.errors && errors.telefono2 ? 'is-invalid' : null %>" id="telefono2" name="telefono2" 
            value="<%= locals.oldData ? oldData.telefono2 : null %>"/>
            <% if (locals.errors && errors.telefono2) { %>
              <div class="text-danger msg">
                <%= errors.telefono2.msg %>
              </div>
            <% } %>
          </div>
          </div>
        </div>
        <br>
          <div class="entre-divs">
            <div class="horizontal">
            <div class="servicios">
              <label>Servicios:</label><br /> <br />


              <label class="funcionalidades1" for="iluminacion">Iluminación <select name="iluminacion" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="estacionamiento"> Estacionamiento <select name="estacionamiento"
                  size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="wifi">Wifi <select name="wifi" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="vestuarios">Vestuarios <select name="vestuarios" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="duchas">Duchas <select name="duchas" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="parrilla">Parrilla <select name="parrilla" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="quincho">Quincho <select name="quincho" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br /> 
                <label class="funcionalidades1" for="quiosco">Quiosco <select name="quiosco" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br /> <br />
            </div>
            <br>
            <div class="medios-de-pago">
              <label>Medios de pago aceptados:</label>
              <br>
              <br>
              <label class="funcionalidades1" for="transferencia"> Transferencia <select name="transferencia" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label>
              <br />
              <label class="funcionalidades1" for="mercadoPago">Mercado
                Pago <select name="mercadoPago" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select>
              </label>
              <br />
              <label class="funcionalidades1" for="modo">Tarjeta <select name="tarjeta" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select>
              </label><br />
              <label class="funcionalidades1" for="efectivo">Efectivo <select name="efectivo" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              </label>
            </div>
          </div>
        </div>
     
    
      <br>
     
      <div class="form-group">
        <div class="input-group imagenes">
          
          <div class="img-cancha">
            <label class="label-img" for="imagenCancha">Cargar imágenes del lugar <span class="asterisco">*</span><br>
              <input class="input-img" type="file" name="imagenCancha" accept="all"  multiple /></label>
          </div>
          <div class="img-cancha">
              <input class="input-img" type="file" name="imagenComedor" accept="all"  multiple /></label>
          </div>
          <div class="img-cancha">
              <input class="input-img" type="file" name="imagenOtras" accept="all"  multiple /></label>
          </div>
          <br>
          <div class="img-cancha">
            <label for="imagenOtras">Cargar imágen del logo <span class="asterisco">*</span><br>
              <input class="input-img" type="file" name="logo" accept="all"   multiple /></label>
          </div>
          <br>
        </div>
<br>
        <div class="entre-divs9">
          <div class="horizontal">
            <div>
              <button class="volver">
                <a href="/register">Volver</a>
              </button>
            </div>
            <a href="/register/registerOwner/">
              <button>
                <div class="svg-wrapper-1">
                  <div class="svg-wrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" widthh="24" height="24">
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M177.1 228.6L207.9 320h96.5l29.62-91.38L256 172.1L177.1 228.6zM255.1 0C114.6 0 .0001 114.6 .0001 256S114.6 512 256 512s255.1-114.6 255.1-255.1S397.4 0 255.1 0zM416.6 360.9l-85.4-1.297l-25.15 81.59C290.1 445.5 273.4 448 256 448s-34.09-2.523-50.09-6.859L180.8 359.6l-85.4 1.297c-18.12-27.66-29.15-60.27-30.88-95.31L134.3 216.4L106.6 135.6c21.16-26.21 49.09-46.61 81.06-58.84L256 128l68.29-51.22c31.98 12.23 59.9 32.64 81.06 58.84L377.7 216.4l69.78 49.1C445.8 300.6 434.8 333.2 416.6 360.9z" />
                    </svg>
                  </div>
                </div>
                <span>DALE...</span>
              </button>
            </a>

          </div>  
        </div>
      </div>
    <br />
    <br />
  </div>
  </div>  
      </div>
  </div>
  </form>
  <script src="/js/password.js"></script>
</body>

</html>