<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />

  <meta name="viewport" content="widthh=device-widthh, initial-scale=1" />

  <title>Formulario de datos</title>

  <!--=====================================
	PLUGINS DE CSS
	======================================-->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/formularioDatosCancha.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Kalam&family=Roboto&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="contenedor-general">
    <div class="contenedor-imagen">
      <div class="logo">
        <img src="/img/logo-fondo-transparente.png" alt="">
      </div>
    </div>

    <div class="formulario-div2">
    <form class="div2" action="/register/registerOwner" method="POST" enctype="multipart/form-data">
      <h1>Registro de Dueño</h1>
      <div class="form-group">
        <div class="input-group">
          <div class="entre-divs">
            <div class="horizontal">
            <div>
              <label for="nombre">Nombre: </label>
              <input id="nombre" name="nombre"
                class="form-control <%= locals.errors && errors.nombre ? 'is-invalid' : null %>" type="nombre"
                value="<%= locals.oldData ? oldData.nombre : null %>">
              <% if (locals.errors && errors.nombre) { %>
              <div class="text-danger msg">
                <%= errors.nombre.msg %>
              </div>
              <% } %>
            </div>
            <br>
            <div>
              <label for="apellido">Apellido: </label>
              <input id="apellido" name="apellido"
                class="form-control <%= locals.errors && errors.apellido ? 'is-invalid' : null %>" type="apellido"
                value="<%= locals.oldData ? oldData.apellido : null %>">
              <% if (locals.errors && errors.apellido) { %>
              <div class="text-danger msg">
                <%= errors.apellido.msg %>
              </div>
              <% } %>
            </div>
          </div>
            <br>
            <div class="horizontal">
            <div>
              <label for="email">Mail: </label>
              <input id="email" class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %>"
                name="email" type="email" value="<%= locals.oldData ? oldData.email : null %>">
              <% if (locals.errors && errors.email) { %>
              <div class="text-danger msg">
                <%= errors.email.msg %>
              </div>
              <% } %>
            </div>
            <br>
            <div>
              <label for="contraseña">Contraseña: </label>
              <input id="pwd" name="password"
                class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" type="password">
              <% if (locals.errors && errors.password) { %>
              <div class="text-danger msg">
                <%= errors.password.msg 
                %>
              </div>
              <% } %>
            </div>
          </div>
            <br>
            <div class="horizontal">
            <div>
              <label for="nombreDelLugar">Nombre del lugar: </label>
              <input type="text"
                class="form-control <%= locals.errors && errors.nombreDelLugar ? 'is-invalid' : null %>"
                id="nombreDelLugar" name="nombreDelLugar" value="<%= locals.oldData ? oldData.nombreDelLugar : null %>">
              <% if (locals.errors && errors.nombreDelLugar) { %>
              <div class="text-danger msg">
                <%= errors.nombreDelLugar.msg %>
              </div>
              <% } %>
            </div>
            <br>
            <div>
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control <%= locals.errors && errors.direccion ? 'is-invalid' : null %>"
              id="direccion" name="direccion" value="<%= locals.oldData ? oldData.direccion : null %>">
            <% if (locals.errors && errors.direccion) { %>
            <div class="text-danger msg">
              <%= errors.direccion.msg %>
            </div>
            <% } %>
          </div>
          </div>
          <br>
          <div class="horizontal">
            <div>
            <label for="telefono">Telefono:</label>
            <input type="number" class="form-control" id="telefono" name="telefono" />
          </div>
          <br>
          <div>
            <label for="telefono2">Contacto de emergencia:</label>
            <input type="number" class="form-control" id="telefono2" name="telefono2" />
          </div>
          </div>
        </div>
        <br>
          <div class="entre-divs">
            <div class="horizontal">
            <div class="servicios">
              <label>Servicios:</label><br /> <br />


              <label class="funcionalidades1" for="iluminacion">Iluminación <select name="iluminacion" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="estacionamiento"> Estacionamiento <select name="estacionamiento"
                  size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="wifi">Wifi <select name="wifi" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="vestuarios">Vestuarios <select name="vestuarios" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="duchas">Duchas <select name="duchas" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="parrilla">Parrilla <select name="parrilla" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              <label class="funcionalidades1" for="quincho">Quincho <select name="quincho" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br /> <br />
            </div>
            <br>
            <div class="medios-de-pago">
              <label>Medios de pago aceptados:</label>
              <br>
              <br>
              <label class="funcionalidades1" for="transferencia"> Transferencia <select name="transferencia" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label>
              <br />
              <label class="funcionalidades1" for="mercadoPago">Mercado
                Pago <select name="mercadoPago" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select>
              </label>
              <br />
              <label class="funcionalidades1" for="modo">Modo <select name="modo" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select>
              </label><br />
              <label class="funcionalidades1" for="efectivo">Efectivo <select name="efectivo" size="1">
                  <option label="Si" value="Si"></option>
                  <option selected="selected" label="No" value="No"></option>
                </select></label><br />
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
      <br>
     
      <div class="form-group">
        <div class="input-group imagenes">
          <div class="img-cancha">
            <label for="imagenCancha">Cargar imágenes del: <br>
              <input type="file" name="imagenCancha" accept=".jpg" multiple /></label>
          </div>
          <br>
          <div class="img-cancha">
            <label for="imagenComedor">Cargar imágenes del lugar: <br>
              <input type="file" name="imagenComedor" accept=".jpg" multiple /></label>
          </div>
          <br>
          <div class="img-cancha">
            <label for="imagenOtras">Cargar imágenes extras del lugar: <br>
              <input type="file" name="imagenOtras" accept=".jpg" multiple /></label>
          </div>
          <br>
          <div class="img-cancha">
            <label for="imagenOtras">Cargar imágenes extras del lugar: <br>
              <input type="file" name="logo" accept=".jpg" multiple /></label>
          </div>
          <br>
        </div>

        <div class="entre-divs9">
          <div class="horizontal">
          <a href="/register/registerOwner/">
            <button>
              <div class="svg-wrapper-1">
                <div class="svg-wrapper">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" widthh="24" height="24">
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      d="M177.1 228.6L207.9 320h96.5l29.62-91.38L256 172.1L177.1 228.6zM255.1 0C114.6 0 .0001 114.6 .0001 256S114.6 512 256 512s255.1-114.6 255.1-255.1S397.4 0 255.1 0zM416.6 360.9l-85.4-1.297l-25.15 81.59C290.1 445.5 273.4 448 256 448s-34.09-2.523-50.09-6.859L180.8 359.6l-85.4 1.297c-18.12-27.66-29.15-60.27-30.88-95.31L134.3 216.4L106.6 135.6c21.16-26.21 49.09-46.61 81.06-58.84L256 128l68.29-51.22c31.98 12.23 59.9 32.64 81.06 58.84L377.7 216.4l69.78 49.1C445.8 300.6 434.8 333.2 416.6 360.9z" />
                  </svg>
                </div>
              </div>
              <span>DALE...</span>
            </button>
          </a>
            <div>
              <button class="volver">
                <a href="/register">Volver</a>
              </button>
            </div>
        </div>
      </div>
    <br />
    <br />
    <div class="alert alert-success divAlerta">
      ¡Gracias por registrarse!
    </div>
  </div>
  </div>  
      </div>
  </div>
  </form>

</body>

</html>