<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Formulario de datos</title>

  <!--=====================================
	PLUGINS DE CSS
	======================================-->
  <%- include('../css-externos') %>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/formularioDatosJugador.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Kalam&family=Roboto&display=swap"
    rel="stylesheet">

</head>

<body>
  <div class="contenedor-general">
    <div class="contenedor-imagen">
      <div class="logo">
        <img src="/img/logo-fondo-transparente.png" alt="">
      </div>

      <div class="validate-form">
        <label for="email">Mail <span class="asterisco">*</span></label>
        <input id="email" class="form-control" <%= locals.errors && errors.email ? 'is-invalid' : null %>"
          name="email" type="email" value="<%= locals.oldData ? oldData.email : null %>">
        <% if (locals.errors && errors.email) { %>
        <div class="text-danger msg">
          <%= errors.email.msg %>
        </div>
        <% } %>
      </div>

      <br>
      <div class="validate-form">
        <label for="contraseña">Contraseña <span class="asterisco">*</span></label>
        <input id="password" name="password"
          class="form-control <%= locals.errors && errors.password ? 'is-invalid' : null %>" type="password">
        <% if (locals.errors && errors.password) { %>
        <div class="text-danger msg">
          <%= errors.password.msg %>
        </div>
        <% } %>
      </div>

      <div id="popover-password" class="margin">
        <p><span id="result"></span></p>
        <div class="progress">
          <div id="password-strength"
            class="progress-bar"
            role="progressbar" 
            aria-valuenow="40"
            aria-valuemin="0"
            aria-valuemax="100"
            style="width:0%">
          </div>
        </div>
      </div>

      <div class="validate-form">
        <ul class="list-unstyled">
          <li>
            <span class="low-upper-case center">
              <i class="fas fa-circle" aria-hidden="true"></i>&nbsp;Tiene mayúsculas y minúsculas
            </span>
          </li>

          <li>
            <span class="one-number center">
              <i class="fas fa-circle" aria-hidden="true"></i>&nbsp;Tiene números y letras
            </span>
          </li>

          <li>
            <span class="one-special-char center">
              <i class="fas fa-circle" aria-hidden="true"></i>&nbsp;Tiene algún caracter especial
            </span>
          </li>

          <li>
            <span class="eight-character center">
              <i class="fas fa-circle" aria-hidden="true"></i>&nbsp;Tiene más de siete caracteres
            </span>
          </li>

        </ul>
      </div>

    </div>

    <div class="formulario-div">
      <form class="div1" action="/register/registerPlayer" method="POST" enctype="multipart/form-data">
        <h1>Registro de datos personales</h1>
        <div class="form-group">
          <div class="input-group">
            <div class="horizontal">
              <div class="entre-divs">
                <label for="nombre">Nombre <span class="asterisco">*</span></label>
                <input type="text" class="form-control" <%= locals.errors && errors.nombre ? 'is-invalid' : null %>
                  id="nombre" name="nombre" value="<%= locals.oldData ? oldData.nombre : null %>">
                <% if (locals.errors && errors.nombre) { %>
                <div class="text-danger msg">
                  <%= errors.nombre.msg %>
                </div>
                <% } %>
              </div>
              <br>
              <div class="entre-divs">
                <label for="apellido">Apellido <span class="asterisco">*</span></label>
                <input type="text" class="form-control" <%= locals.errors && errors.apellido ? 'is-invalid' : null %>
                  id="apellido" name="apellido" value="<%= locals.oldData ? oldData.apellido : null %>">
                <% if (locals.errors && errors.apellido) { %>
                <div class="text-danger msg">
                  <%= errors.apellido.msg %>
                </div>
                <% } %>
              </div>
            </div>
            <br>

            <div class="horizontal">
              <div class="entre-divs">
                <label for="telefono">Telefono <span class="asterisco">*</span></label>
                <input type="number" class="form-control" <%= locals.errors && errors.telefono ? 'is-invalid' : null %>
                  id="telefono" name="telefono" value="<%= locals.oldData ? oldData.telefono : null %>">
                <% if (locals.errors && errors.telefono) { %>
                <div class="text-danger msg">
                  <%= errors.telefono.msg %>
                </div>
                <% } %>
              </div>
              <br>
              <div class="entre-divs">
                <label for="telefono2">Contacto de emergencia</label>
                <input type="number" class="form-control" id="telefono2" name="telefono2">
              </div>
            </div>
            <br>

            <div class="horizontal">
              <div class="entre-divs">
                <label for="edad">Fecha de Nacimiento <span class="asterisco">*</span></label>
                <input type="date" class="form-control" <%= locals.errors && errors.edad ? 'is-invalid' : null %>"
                  id="edad" name="edad" value="<%= locals.oldData ? oldData.edad : null %>">
                <% if (locals.errors && errors.edad) { %>
                <div class="text-danger msg">
                  <%= errors.edad.msg %>
                </div>
                <% } %>
              </div>
              <br>
              <div class="entre-divs">
                <label for="">Cargar imagen de perfil</label>
                <div class="contenedor-input">
                  <input class="input-imagen-escondido imagen" type="file" name="imagenJugador" accept=".jpg" multiple>
                <!---  <div class="input-imagen-visible">Elegir archivos</div>-->
                </div> 
              </div>
            </div>
            <br>

            <div class="horizontal">
              <div class="entre-divs">
                <label for="zonaDeJuego">Zona de juego <span class="asterisco">*</span></label>
                <select class="form-control" id="zonaDeJuego" name="zonasdejuego">
                  <option value="" disabled selected> Zona de juego:</option>
                  <% zonasdejuego.forEach(zonasdejuego => { %>
                  <option value="<%= zonasdejuego.id %>"><%= zonasdejuego.provincia %></option>
                  <% }); %>
                </select>
                <% if (locals.errors && errors.zonasdejuego) { %>
                  <div class="text-danger msg">
                    <%= errors.zonasdejuego.msg %>
                  </div>
                <% } %>
              </div>
              <div class="entre-divs">
                <label for="autoValoracion">Auto valoración <span class="asterisco">*</span></label>
                <br>
                <select class="form-control" name="autoValoracion" id="autoValoracion">
                  <option value="" disabled selected> Elegir opción</option>
                  <%valoraciones.forEach(valoraciones => { %>
                  <option value="<%=valoraciones.id%>"><%=valoraciones.tipo%></option>
                  <% }); %>
                </select>
                <% if (locals.errors && errors.autoValoracion) { %>
                  <div class="text-danger msg">
                    <%= errors.autoValoracion.msg %>
                  </div>
                <% } %>
              </div>
              <br>
            </div>
            <br>

            <div class="horizontal">
              <div class="entre-divs">
                <label for="deporte">Deporte que juego <span class="asterisco">*</span></label>
                <br>
                <select class="form-control" id="deporte1" name="deporte1">
                  <option value="" disabled selected> Elegir</option>
                  <% deportes.forEach(deporte => { %>
                  <option value="<%= deporte.id %>"><%= deporte.deporte %></option>
                  <% }); %>
                </select>
                <% if (locals.errors && errors.deporte1) { %>
                  <div class="text-danger msg">
                    <%= errors.deporte1.msg %>
                  </div>
                <% } %>
                <br>
                <select class="form-control" id="deporte2" name="deporte2">
                  <option value="" disabled selected> Elegir</option>
                  <% deportes.forEach(deporte => { %>
                  <option value="<%= deporte.id %>"><%= deporte.deporte %></option>
                  <% }); %>
                </select>
                <% if (locals.errors && errors.deporte2) { %>
                  <div class="text-danger msg">
                    <%= errors.deporte2.msg %>
                  </div>
                <% } %>
              </div>
              <div class="entre-divs">
                <label for="categoria">Posición <span class="asterisco">*</span></label>
                <input type="text" class="form-control" <%= locals.errors && errors.categoria ? 'is-invalid' : null %>
                  id="categoria" name="categoria" value="<%= locals.oldData ? oldData.categoria : null %>">
                <% if (locals.errors && errors.categoria) { %>
                <div class="text-danger msg">
                  <%= errors.categoria.msg %>
                </div>
                <% } %>
                <br>
                <input type="text" class="form-control" <%= locals.errors && errors.categoria2 ? 'is-invalid' : null %>
                  id="categoria" name="categoria2" value="<%= locals.oldData ? oldData.categoria2 : null %>">
                <% if (locals.errors && errors.categoria2) { %>
                <div class="text-danger msg">
                  <%= errors.categoria2.msg %>
                </div>
                <% } %>
              </div>
            </div>
            <br>

            <div class="horizontal">
              <div class="entre-divs">
                <label for="dias">Dias para jugar <span class="asterisco">*</span></label>
                <select class="form-control" id="dias" name="dia1">
                  <option value="" disabled selected> Dias para jugar</option>
                  <% dias.forEach(dias => { %>
                  <option value="<%= dias.id %>"><%= dias.dia %></option>
                  <% }); %>
                </select>
                <% if (locals.errors && errors.dia1) { %>
                  <div class="text-danger msg">
                    <%= errors.dia1.msg %>
                  </div>
                  <% } %>
              </div>
              <div class="entre-divs">
                <label for="horarios">Horarios para jugar <span class="asterisco">*</span></label>
                <select class="form-control" id="horarios" name="hora1">
                  <option value="" disabled selected> Seleccionar</option>
                  <% horarios.forEach(horarios => { %>
                  <option value="<%= horarios.id %>"><%= horarios.hora %></option>
                  <% }); %>
                </select>
                <% if (locals.errors && errors.hora1) { %>
                  <div class="text-danger msg">
                    <%= errors.hora1.msg %>
                  </div>
                  <% } %>
              </div>
            </div>
            
            <div class="entre-divs9">
              <div class="horizontal mobile">
                <a href="/register/registerPlayer/">
                  <button>
                    <div class="svg-wrapper-1">
                      <div class="svg-wrapper">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="24" height="24">
                          <path fill="none" d="M0 0h24v24H0z"></path>
                          <path
                            d="M177.1 228.6L207.9 320h96.5l29.62-91.38L256 172.1L177.1 228.6zM255.1 0C114.6 0 .0001 114.6 .0001 256S114.6 512 256 512s255.1-114.6 255.1-255.1S397.4 0 255.1 0zM416.6 360.9l-85.4-1.297l-25.15 81.59C290.1 445.5 273.4 448 256 448s-34.09-2.523-50.09-6.859L180.8 359.6l-85.4 1.297c-18.12-27.66-29.15-60.27-30.88-95.31L134.3 216.4L106.6 135.6c21.16-26.21 49.09-46.61 81.06-58.84L256 128l68.29-51.22c31.98 12.23 59.9 32.64 81.06 58.84L377.7 216.4l69.78 49.1C445.8 300.6 434.8 333.2 416.6 360.9z" />
                        </svg>
                      </div>
                    </div>
                    <span>DALE...</span>
                  </button>
                </a>
                <!-- <div class="alert alert-success divAlerta">¡Gracias por registrarse! Hora de jugar</div> -->
                <div>
                  <button class="volver" style="margin-left: 15px;">
                    <a href="/register">Volver</a>
                  </button>
                </div>
                <div>
                </div>

              </div>
      </form>
    </div>
  </div>
  <script src="/js/password.js"></script>
</body>