<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Escuelita <%- product.id %></title>

    <!--CSS PROPIOS-->
    <link rel="stylesheet" href="/css/registrarCancha.css">
    <link rel="stylesheet" href="/css/reservarCancha.css">
    <link rel="stylesheet" href="/css/globalForm.css">
    <!-- CSS EXTERNOS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Kalam&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>

    <form action="/userOwner/editSchool/<%= product.id %>?_method=PATCH" enctype="multipart/form-data" method="POST">
        <div class="tarjeta">
            <div class="item-tarjeta">
                <label name="registroDeDeporte">Deporte:</label>
                <select name="deporte" id="deporte">
                    <% if (product.deporte == "") { %>
                    <option value="">Elegir un deporte</option>
                    <option value="futbol">Futbol</option>
                    <option value="padel">Padel</option>
                    <option value="basquet">Basquet</option>
                    <option value="tenis">Tenis</option>
                    <option value="voley">Voley</option>
                    <% } else if (product.deporte == "futbol") { %>
                    <option value="futbol">Futbol</option>
                    <option value="padel">Padel</option>
                    <option value="basquet">Basquet</option>
                    <option value="tenis">Tenis</option>
                    <option value="voley">Voley</option>
                    <% } else if (product.deporte == "padel") { %>
                    <option value="padel">Padel</option>
                    <option value="futbol">Futbol</option>
                    <option value="basquet">Basquet</option>
                    <option value="tenis">Tenis</option>
                    <option value="voley">Voley</option>
                    <% } else if (product.deporte == "basquet") { %>
                    <option value="basquet">Basquet</option>
                    <option value="futbol">Futbol</option>
                    <option value="padel">Padel</option>
                    <option value="tenis">Tenis</option>
                    <option value="voley">Voley</option>
                    <% } else if (product.deporte == "tenis") { %>
                    <option value="tenis">Tenis</option>
                    <option value="futbol">Futbol</option>
                    <option value="padel">Padel</option>
                    <option value="basquet">Basquet</option>
                    <option value="voley">Voley</option>
                    <% } else if (product.deporte == "voley") { %>
                    <option value="voley">Voley</option>
                    <option value="futbol">Futbol</option>
                    <option value="padel">Padel</option>
                    <option value="basquet">Basquet</option>
                    <option value="tenis">Tenis</option>
                    <% } %>
                </select>
            </div>
            <div class="item-tarjeta">
                <label name="cantidad">Cantidad máx. de alumnos:</label>
                <input type="number" name="alumnos" id="alumnos" value="<%= product.alumnos %>">
            </div>

            <div class="edad">
                <div class="item-tarjeta">
                    <label name="categoria">Categoria</label>
                    <input type="number" name="categoria" id="categoria" value="<%= product.categoria %>">
                </div>

                <div class="item-tarjeta">
                    <label name="profesor">Profesor</label>
                    <input type="text" placeholder="Nombre del profesor" name="profesor" id="profesor"
                        value="<%= product.profesor %>">
                </div>
            </div>

            <div class="item-tarjeta">
                <label name="lugar">Género:</label>
                <select name="genero" id="genero" required>
                    <% if (product.genero == "") { %>
                    <option value="">Elegir genenro</option>
                    <option value="femenino">Femenino</option>
                    <option value="masculino">Masculino</option>
                    <option value="mixto">Mixto</option>
                    <% } else if (product.genero == "femenino") { %>
                    <option value="femenino">Femenino</option>
                    <option value="masculino">Masculino</option>
                    <option value="mixto">Mixto</option>
                    <% } else if (product.genero == "masculino") { %>
                        <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                    <option value="mixto">Mixto</option>
                    <% } else if (product.genero == "mixto") { %>
                        <option value="mixto">Mixto</option>
                    <option value="femenino">Femenino</option>
                    <option value="masculino">Masculino</option>
                    <% } %>
                </select>
            </div>

            <div class="otro-item-tarjeta">
                <div class="item-tarjeta"><label name="horarios">Día a realizarse:</label></div>
                <select name="dia" id="dia">
                    <option selected disabled>Seleccionar</option>
                    <option value="Lunes">Lunes</option>
                    <option value="Martes">Martes</option>
                    <option value="Miercoles">Miércoles</option>
                    <option value="Jueves">Jueves</option>
                    <option value="Viernes">Viernes</option>
                    <option value="Sabado">Sabado</option>
                    <option value="Domingo">Domingo</option>
                </select>
                <input type="time" class="form-control horaio" id="horarios" name="registroHorarios"
                    value="<%= product.registroHorarios %>">
            </div>

            <div class="item-tarjeta">
                <label name="premio">Valor mensual</label>
                <input type="number" placeholder="El valor mensual por alumno" name="valor" id="valor"
                    value="<%= product.valor %>">
            </div>

            <div class="item-tarjeta boton-enviar">
                <button type="submit">Registrar</button>
            </div>
        </div>
    </form>

</body>

</html>