<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Escuelita <%- escuelitas.id %></title>

    <!--CSS PROPIOS-->
    <link rel="stylesheet" href="/css/registrarCancha.css">
    <link rel="stylesheet" href="/css/reservarCancha.css">
    <link rel="stylesheet" href="/css/globalForm.css">
    <!-- CSS EXTERNOS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Kalam&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>
<main>
    <form action="/userOwner/vistaCancha/:id/editSchool/<%= escuelitas.id %>?_method=PATCH"
        enctype="multipart/form-data"
        method="POST">
        <div class="tarjeta">
            <div class="item-tarjeta">
                <label name="registroDeDeporte">Deporte:</label>
                <select name="deporte" id="deporte">
                    <% deportes.forEach(deporte => { %>
                    <option value="<%= deporte.id %>"
                        <% if (escuelitas.deporteE.id == deporte.id) { %><%= 'selected'  %><% }; %>><%= deporte.deporte %>
                    </option>
                    <% }); %>
                </select>
            </div>
            <div class="edad">
                <div class="item-tarjeta">
                    <label name="cantidad">Cantidad de alumnos:</label>
                    <input type="number" name="alumnos" id="alumnos" value="<%= escuelitas.alumnos %>">
                </div>

                <div class="edad">
                    <div class="item-tarjeta">
                        <label name="categoria">Categoria</label>
                        <input type="number" name="categoria" id="categoria" value="<%= escuelitas.categoria %>">
                    </div>

                    <div class="item-tarjeta">
                        <label name="profesor">Profesor</label>
                        <input type="text" placeholder="Nombre del profesor" name="nprofesor" id="nprofesor"
                            value="<%= escuelitas.profesor.nombre %>"> <span> <input type="text" placeholder="Apellido del profesor" name="aprofesor" id="aprofesor"
                                value="<%= escuelitas.profesor.apellido %>"> </span>
                            
                    </div>
                </div>

                <div class="item-tarjeta">
                    <label>Género:</label>
                    <select name="genero" id="genero" required>
                        <% genero.forEach(genero => { %>
                        <option value="<%= genero.id %>"
                            <% if (escuelitas.genero.id == genero.id) { %><%= 'selected'  %><% }; %>>
                            <%= genero.genero %>
                        </option>
                        <% }); %>
                    </select>
                </div>

                <div class="otro-item-tarjeta">
                    <div class="item-tarjeta"><label>Día a realizarse:</label></div>
                    <select name="dia" id="dia">
                     <% dias.forEach(dias => { %>
                     <option value="<%= dias.id %>"
                         <% if (escuelitas.diaYhora.dias_id == dias.id) { %><%= 'selected'  %><% }; %>>
                         <%= dias.dia %>
                     </option>
                     <% }); %>
                    </select>
                    <select name="hora" id="hora">
                        <% horarios.forEach(horarios => { %>
                        <option value="<%= horarios.id %>"
                            <% if (escuelitas.diaYhora.horas_id == horarios.id) { %><%= 'selected'  %><% }; %>>
                            <%= horarios.hora %>
                        </option>
                        <% }); %>
                    </select>
                </div>
                <div class="item-tarjeta">
                    <label name="premio">Valor mensual</label>
                    <input type="number" placeholder="El valor mensual por alumno" name="valor" id="valor"
                        value="<%= escuelitas.valor %>">
                </div>
                <div class="item-tarjeta">
                    <label>Cargar imagen</label>
                    <input class="foto" type="file" name="image" accept="all" value="<%= escuelitas.img_e %>">
                    <label> <img style="width: 130px; margin-top: 40px; border-radius: 70px;"
                            src="/img/products/<%= escuelitas.img_e%>">
                    </label>
                    <h6 style="margin-left: 20px; color: red">Imagen seleccionada </h6>
                </div>

                <div class="item-tarjeta boton-enviar">
                    <button type="submit">Modificar</button>
                </div>
            </div>
    </form>
    </main>
    <div class="item-tarjeta boton-enviar2">
        <a href="/userOwner/vistaCancha/<%= userOwnerLogged.id %>"><button type="submit">Volver</button></a>
    </div>
</body>

</html>