<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar cancha <%- product.id %> </title>
    <link rel="stylesheet" href="/css/registrarCancha.css">

    <%- include('../css-externos') %>
</head>

<body>
    <%- include('./headerOwner.ejs') %>

    <form action="/userOwner/vistaCancha/:id/editCourt/<%= product.id %>?_method=PATCH" method="POST"
        enctype="multipart/form-data">
        <div class="tarjeta">
            <div class="item-tarjeta">
                <label>Identificación de la cancha:</label>
                <input type="text" placeholder="Ej: Cancha 1" name="identificacion"
                    value="<%= product.identificacion %> " required>
            </div>
            <div style="display:none">
                <select name="category">
                    <option value="cancha">cancha</option>
            </div>
            <div class="item-tarjeta">
                <label>Deporte:</label>
                <select id="deporte" name="deporte">
                    <option value="<%= product.identificacion %>">Elegir un deporte</option>
                    <option value="futbol">Futbol</option>
                    <option value="padel">Padel</option>
                    <option value="basquet">Basquet</option>
                    <option value="tenis">Tenis</option>
                    <option value="voley">Voley</option>
                </select>
            </div>


            <div class="item-tarjeta">
                <label>Cantidad de jugadores:</label>
                <input type="number" name="capacidad" placeholder="Ej: 10" value="<%= product.capacidad %>">
            </div>

            <div class="item-tarjeta">
                <label>Tipo de cancha</label>
                <select id="deporte" name="tipoDeCancha">
                    <% if (product.tipoDeCancha == "cesped Sintetico") { %>
                    <option label="Césped Sintético" value="cesped sintetico"></option>
                    <option label="Césped" value="cesped"></option>
                    <option label="Cemento" value="cemento"></option>
                    <option label="Parqué" value="parque"></option>
                    <option label="Ladrillo" value="ladrillo"></option>
                    <% }else if (product.tipoDeCancha == "cesped") { %>
                    <option label="Césped" value="cesped"></option>
                    <option label="Césped Sintético" value="cesped sintetico"></option>
                    <option label="Cemento" value="cemento"></option>
                    <option label="Parqué" value="parque"></option>
                    <option label="Ladrillo" value="ladrillo"></option>
                    </option>
                    <% } else if (product.tipoDeCancha == "cemento") { %>
                    <option label="Cemento" value="cemento"></option>
                    <option label="Césped Sintético" value="cesped sintetico"></option>
                    <option label="Césped" value="cesped"></option>
                    <option label="Parqué" value="parque"></option>
                    <option label="Ladrillo" value="ladrillo"></option>
                    </option>
                    <% } else if (product.tipoDeCancha == "parque") { %>
                    <option label="Parqué" value="parque"></option>
                    <option label="Césped Sintético" value="cesped sintetico"></option>
                    <option label="Césped" value="cesped"></option>
                    <option label="Cemento" value="cemento"></option>
                    <option label="Ladrillo" value="ladrillo"></option>
                    </option>
                    <% } else if (product.tipoDeCancha == "ladrillo") { %>
                    <option label="Ladrillo" value="ladrillo"></option>
                    </option>
                    <option label="Césped Sintético" value="cesped sintetico"></option>
                    <option label="Césped" value="cesped"></option>
                    <option label="Cemento" value="cemento"></option>
                    <option label="Parqué" value="parque"></option>
                    <% } %>



                </select>
            </div>

            <div class="item-tarjeta">
                <label>Cargar imagen</label>
                <input class="foto" type="file" name="image" accept=".jpg" multiple>
                <label> <img style="width: 130px;
    margin-top: 40px;
    border-radius: 70px;" src="/img/products/<%= product.image%>">
                </label>
            </div>

            <div class="item-tarjeta">
                <label>Precio:</label> <span> $ </span>
                <input type="number" name="valor" placeholder="Ej:pesos argentinos" value="<%= product.valor %>">
            </div>

            <div class="item-tarjeta">
                <button type="submit">Enviar</button>
            </div>
        </div>



    </form>
</body>

</html>