<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Torneo</title>

    <!--CSS PROPIOS-->
    <link rel="stylesheet" href="/css/registrarCancha.css">
    <link rel="stylesheet" href="/css/reservarCancha.css">
    <link rel="stylesheet" href="/css/globalForm.css">
    <!-- CSS EXTERNOS -->
    <link
        href="https://fonts.googleapis.com/css2?family=Bangers&family=Bebas+Neue&family=Kalam&family=Roboto&display=swap"
        rel="stylesheet">
</head>

<body>
    <main>
        <form action="/userOwner/vistaCancha/:id/editTorneo/<%= product.id %>?_method=PATCH" method="POST"
            enctype="multipart/form-data">
            <div class="tarjeta">
                <div class="item-tarjeta">
                    <label>Deporte:</label>
                    <select id="deporte" name="deporte" required>
                        <% if (product.deporte == "") { %>
                        <option value="">Elegir un deporte</option>
                        <option value="futbol">Futbol</option>
                        <option value="padel">Padel</option>
                        <option value="basquet">Basquet</option>
                        <option value="tenis">Tenis</option>
                        <option value="voley">Voley</option>
                        <% } else if (product.deporte == "futbol") { %>
                        <option value="futbol">Futbol</option>
                        <option value="padel">Padel</option>
                        <option value="basquet">Basquet</option>
                        <option value="tenis">Tenis</option>
                        <option value="voley">Voley</option>
                        <% } else if (product.deporte == "padel") { %>
                        <option value="padel">Padel</option>
                        <option value="futbol">Futbol</option>
                        <option value="basquet">Basquet</option>
                        <option value="tenis">Tenis</option>
                        <option value="voley">Voley</option>
                        <% } else if (product.deporte == "basquet") { %>
                        <option value="basquet">Basquet</option>
                        <option value="futbol">Futbol</option>
                        <option value="padel">Padel</option>
                        <option value="tenis">Tenis</option>
                        <option value="voley">Voley</option>
                        <% } else if (product.deporte == "tenis") { %>
                        <option value="tenis">Tenis</option>
                        <option value="futbol">Futbol</option>
                        <option value="padel">Padel</option>
                        <option value="basquet">Basquet</option>
                        <option value="voley">Voley</option>
                        <% } else if (product.deporte == "voley") { %>
                        <option value="voley">Voley</option>
                        <option value="futbol">Futbol</option>
                        <option value="padel">Padel</option>
                        <option value="basquet">Basquet</option>
                        <option value="tenis">Tenis</option>
                        <% } %>
                    </select>
                </div>

                <div class="edad">
                    <div style="display:none">
                        <input name="category" value="torneo" type="text">
                    </div>
                </div>

                <div class="item-tarjeta">
                    <label>Cantidad de Equipos:</label>
                    <input name="cantidadEquipos" type="number" value="<%= product.cantidadEquipos %>">
                </div>

                <div class="edad">
                    <div class="item-tarjeta">
                        <label>Categoría:</label>
                        <input name="categoria" type="number" value="<%= product.categoria %>">
                    </div>

                </div>

                <div class="item-tarjeta">
                    <label>Género:</label>
                    <select name="genero" id="genero" required>
                        <% if (product.genero == "") { %>
                        <option value="">Elegir genenro</option>
                        <option value="femenino">Femenino</option>
                        <option value="masculino">Masculino</option>
                        <option value="mixto">Mixto</option>
                        <% } else if (product.genero == "femenino") { %>
                        <option value="femenino">Femenino</option>
                        <option value="masculino">Masculino</option>
                        <option value="mixto">Mixto</option>
                        <% } else if (product.genero == "masculino") { %>
                        <option value="masculino">Masculino</option>
                        <option value="femenino">Femenino</option>
                        <option value="mixto">Mixto</option>
                        <% } else if (product.genero == "mixto") { %>
                        <option value="mixto">Mixto</option>
                        <option value="femenino">Femenino</option>
                        <option value="masculino">Masculino</option>
                        <% } %>
                    </select>
                </div>

                <div class="item-tarjeta">
                    <label>Fecha del torneo</label>
                    <br>
                    <br> Desde:
                    <input name="fechaInicio" type="date" value="<%=product.fechaInicio%>">
                    <br>
                    <br>
                    Hasta: <input name="fechaFinal" type="date" value="<%=product.fechaFinal%>">
                </div>

                <div class="otro-item-tarjeta">
                    <div class="item-tarjeta"><label>Día y horario a realizarse:</label></div>
                    <select name="dia" id="dia">
                        <option value="<%= product.dia %>"><%= product.dia %></option>
                        <option value="Lunes">Lunes</option>
                        <option value="Martes">Martes</option>
                        <option value="Miercoles">Miércoles</option>
                        <option value="Jueves">Jueves</option>
                        <option value="Viernes">Viernes</option>
                        <option value="Sabado">Sabado</option>
                        <option value="Domingo">Domingo</option>
                        <option value="un solo dia">Un solo día</option>
                    </select>
                    <input type="time" class="form-control horaio" id="horarios" name="registroHorarios"
                        value="<%= product.registroHorarios %>">
                </div>
                <div class="item-tarjeta">
                    <label>Valor por equipo:</label>
                    <input type="number" name="valor" placeholder="$" value="<%= product.valor %>">
                </div>
                <div class="item-tarjeta">
                    <label>Premio</label>
                    <input type="number" name="premio" placeholder="$" value="<%= product.premio %>">
                </div>
                <div class="item-tarjeta">
                    <label>Cargar imagen</label>
                    <input class="foto" type="file" name="image" accept=".jpg" multiple>
                    <label> <img style="width: 130px; margin-top: 40px; border-radius: 70px;"
                            src="/img/products/<%= product.image%>">
                    </label>
                    <h6 style="margin-left: 20px; color: red">Imagen seleccionada </h6>
                </div>
                <div class="item-tarjeta boton-enviar">
                    <button type="submit">Modificar</button>
                </div>
            </div>
        </form>
    </main>
    <div class="item-tarjeta boton-enviar2">
        <a href="/userOwner/vistaCancha/<%= userOwnerLogged.id %>"><button type="submit">Volver</button></a>
    </div>
</body>

</html>