<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar cancha <%- canchas.id %> </title>
    <link rel="stylesheet" href="/css/registrarCancha.css">

    <%- include('../css-externos') %>
</head>

<body>
    <%- include('./headerOwner.ejs') %>
    <main>
        <form action="/userOwner/vistaCancha/:id/editCourt/<%= canchas.id %>?_method=PATCH" method="POST"
            enctype="multipart/form-data">
            <div class="tarjeta">
                <div class="item-tarjeta">
                    <label>Identificación de la cancha:</label>
                    <input type="text" placeholder="Ej: Cancha 1" name="identificacion" required
                        value="<%= canchas.identificacion %>">
                </div>
                <div class="item-tarjeta">
                    <label>Deporte:</label>
                    <select class="form-control" id="deporte" name="deporte">
                        <% deportes.forEach(deporte => { %>
                        <option value="<%= deporte.id %>"
                            <% if (canchas.deporte.id == canchas.id) { %><%= 'selected'  %><% }; %>><%= deporte.deporte %>
                            </option>
                        <% }); %>
                    </select>
                </div>


                <div class="item-tarjeta">
                    <label>Cantidad de jugadores:</label>
                    <input type="number" name="capacidad" placeholder="Ej: 10" value="<%= canchas.capacidad %>">
                </div>

                <div class="item-tarjeta">
                    <label>Tipo de cancha</label>
                    <select class="form-control" id="deporte" name="tipocancha">
                        <% tiposCancha.forEach(tiposCancha => { %>
                        <option value="<%= tiposCancha.id %>"
                            <% if (canchas.tipoDeCancha.id == canchas.id) { %><%= 'selected'  %><% }; %>><%= tiposCancha.material %>
                            </option>
                        <% }); %>
                    </select>
                </div>

                <div class="item-tarjeta">
                    <label>Modificar imagen:</label>
                    <label> <img
                            style="width: 130px; margin-top: 40px; border-radius: 70px; margin-left: 50px; margin-bottom: 20px"
                            src="/img/products/<%- canchas.img_c %>">
                    </label>
                    <input class="foto" type="file" name="image" accept="all" value="<%- canchas.img_c %>">
                </div>

                <div class="item-tarjeta">
                    <label>Precio:</label> <span> $ </span>
                    <input type="number" name="valor" placeholder="Ej:pesos argentinos" value="<%= canchas.valor %>">
                </div>

                <div class="item-tarjeta">
                    <button type="submit">Enviar</button>
                </div>
            </div>
            </form>
    </main>
    <div class="item-tarjeta boton-enviar2">
        <a href="/userOwner/vistaCancha/<%= userOwnerLogged.id %>"><button type="submit">Volver</button></a>
    </div>
</body>

</html>