<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cancha</title>
    <link rel="stylesheet" href="/css/registrarCancha.css">
    <link rel="stylesheet" href="/css/reservarCancha.css">
    <link rel="stylesheet" href="/css/globalForm.css">
    
    <%- include('../css-externos') %>


</head>

<body>
    <%- include('./headerOwner.ejs') %>

    <form action="/userOwner/vistacancha/<%= userOwnerLogged.id %>/registrarCancha"
        method="POST"
        enctype="multipart/form-data">

        <div class="tarjeta">
            <div class="item-tarjeta">
                <label>Identificación de la cancha:</label>
                <input type="text" placeholder="Ej: Cancha 1" name="identificacion" required>
            </div>
            <div style="display:none">
                <select name="category">
                    <option selected="selected" value="cancha">cancha</option>
            </select>
            </div>
            <div class="item-tarjeta">
                <label>Deporte:</label>
                <select class="form-control" id="deporte" name="deporte">
                    <option value="" disabled selected> Elegir</option>
                    <% deportes.forEach(deporte => { %>
                    <option value="<%= deporte.id %>"><%= deporte.deporte %></option>
                    <% }); %>
                </select>
            </div>


            <div class="item-tarjeta">
                <label>Cantidad de jugadores:</label>
                <input type="number" name="capacidad" placeholder="Ej: 10">
            </div>

            <div class="item-tarjeta">
                <label>Tipo de cancha</label>
                <select class="form-control" id="deporte" name="tipocancha">
                    <option value="" disabled selected> Elegir</option>
                    <% tiposCancha.forEach(tiposCancha => { %>
                    <option value="<%= tiposCancha.id %>"><%= tiposCancha.material %></option>
                    <% }); %>
                </select>
            </div>

            <div class="item-tarjeta">
                <label>Cargar imagen</label>
                <input class="foto" type="file" name="image" accept=".jpg" multiple>
            </div>

            <div class="item-tarjeta">
                <label>Precio:</label> <span> $ </span>
                <input type="number" name="valor" placeholder="Ej:pesos argentinos ">
            </div>

            <div class="item-tarjeta">
                <button type="submit">Enviar</button>
            </div>
        </div>
    </form>
</body>

</html