<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cancha</title>
    <link rel="stylesheet" href="/css/registrarCancha.css">
    <link rel="stylesheet" href="/css/reservarCancha.css">
    <link rel="stylesheet" href="/css/globalForm.css">

    <%- include('../css-externos') %>


</head>

<body>
    <%- include('./headerOwner.ejs') %>

    <form action="/userOwner/vistacancha/<%= userOwnerLogged.id %>/registrarCancha/" method="POST"
        enctype="multipart/form-data">

        <div class="tarjeta">
            <div class="item-tarjeta">
                <label>Identificación de la cancha:</label>
                <input class="<%= locals.errors && errors.identificacion ? 'is-invalid' : null %>" type="text"
                    placeholder="Ej: Cancha 1" name="identificacion"
                    value="<%= locals.oldData ? oldData.identificacion : null %>">
                <% if (locals.errors && errors.identificacion) { %>
                <div class="text-danger msg">
                    <%= errors.identificacion.msg %>
                </div>
                <% } %>
            </div>
            <div class="item-tarjeta">
                <label>Deporte:</label>
                <select class="form-control <%= locals.errors && errors.deporte ? 'is-invalid' : null %>" id="deporte"
                    name="deporte">
                    <option value="" disabled selected> Elegir deporte</option>
                    <% deportes.forEach(deportes => { %>
                    <option value="<%= deportes.id %>"><%= deportes.deporte %></option>
                    <% }); %>
                </select>
                <% if (locals.errors && errors.deporte) { %>
                <div class="text-danger msg">
                    <%= errors.deporte.msg %>
                </div>
                <% } %>
            </div>


            <div class="item-tarjeta">
                <label>Cantidad de jugadores:</label>
                <input type="number" name="capacidad" placeholder="Ej: 10"
                    class="<%= locals.errors && errors.capacidad ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.capacidad : null %>">
                <% if (locals.errors && errors.capacidad) { %>
                <div class="text-danger msg">
                    <%= errors.capacidad.msg %>
                </div>
                <% } %>
            </div>

            <div class="item-tarjeta">
                <label>Tipo de cancha</label>
                <select class="form-control <%= locals.errors && errors.tipocancha ? 'is-invalid' : null %>"
                    id="deporte" name="tipocancha">
                    <option value="" disabled selected> Elegir material de la cancha</option>
                    <% tiposCancha.forEach(tiposCancha => { %>
                    <option value="<%= tiposCancha.id %>"><%= tiposCancha.material %></option>
                    <% }); %>
                </select>
                <% if (locals.errors && errors.tipocancha) { %>
                <div class="text-danger msg">
                    <%= errors.tipocancha.msg %>
                </div>
                <% } %>
            </div>

            <div class="item-tarjeta">
                <label>Cargar imagen</label>
                <input class="foto" type="file" name="image" accept="all" multiple>
            </div>

            <div class="item-tarjeta">
                <label>Precio:</label>
                <input type="number" name="valor" placeholder="Valor en pesos argentinos "
                    class="<%= locals.errors && errors.valor ? 'is-invalid' : null %>"
                    value="<%= locals.oldData ? oldData.valor : null %>">
                <% if (locals.errors && errors.valor) { %>
                <div class="text-danger msg">
                    <%= errors.valor.msg %>
                </div>
                <% } %>
            </div>

            <div class="item-tarjeta">
                <button type="submit">Enviar</button>
            </div>
        </div>
    </form>
</body>

</html