<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Hoy se juega</title>

  <!--CSS PROPIOS-->

  <link href="/css/jdSlider.css" rel="stylesheet" />
  <link href="/css/jdSliderVistaCancha.css" rel="stylesheet" />
  <link href="/css/vistaCancha.css" rel="stylesheet" />


  <%- include('../css-externos') %>

</head>

<%- include('./headerOwner') %>

<body>

  <main>

    <!---<p class="sin-canchas">Aún no tienes canchas registradas</p>--->
    <div class="datos-del-lugar background">
      
      <h2><%= userOwner.nombreDelLugar %></h2>
      <div class="datos2-del-lugar">
        <ol>
          <li class="detalle1">
            <a href="https://goo.gl/maps/7KofjWncWWmHwyLp9">
              <i class="fa-solid fa-location-dot"></i> <span><%= userOwner.direccion %></span>
            </a>
          </li>
          <li class="detalle2">
            <i class="fa-solid fa-lightbulb"></i><span> Iluminación </span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.iluminacion%></span>
          </li>
          <li class="detalle2">
            <i class="fa-solid fa-shirt"></i> <span>Vestuarios</span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.vestuarios%> </span>
          </li>
          <li class="detalle2">
            <i class="fa-solid fa-shower"></i> <span>Duchas</span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.duchas%> </span>
          </li>
          <li class="detalle2">
            <i class="fa-solid fa-utensils"></i><span> Parrilas </span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.parrilla%></span>
          </li>
          <li class="detalle2">
            <i class="fa-solid fa-utensils"></i><span> Quincho</span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.quincho%></span>
          </li>
          <li class="detalle2">
            <i class="fa-solid fa-wifi"></i><span> Wifi </span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.wifi%></span>
          </li>
        </ol>
      </div>
      <div class="datos3-del-lugar">
        <ol>
          <li class="detalle2">
            <i class="fa-solid fa-car"></i><span> Estacionamiento </span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.estacionamiento%></span>
          </li>
          <li class="detalle2">
            <span><i class="fa-solid fa-building-columns"></i> Transferencia </span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.transferencia%></span>
          </li>
          <li class="detalle2">
            <span><i class="fa-solid fa-mobile-retro"></i> Mercado Pago </span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.mercadoPago%></span>
          </li>
          <li class="detalle2">
            <span><i class="fa-solid fa-mobile-retro"></i> Modo </span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.modo%></span>
          </li>
          <li class="detalle2">
            <span><i class="fa-solid fa-money-bill-1"></i> Efectivo </span><span> <i
                class="fa-solid fa-arrow-right-long"></i></span><span> <%= userOwner.efectivo%></span>
          </li>

          </li>

        </ol>
      </div>
      <button class="boton-editar-superior"><a class='lapizUser'
          href='../../register/editOwnerForm/<%= userOwner.id%>'><i class="fa-solid fa-pencil"></i></a></button>
    </div>

<!---Imagenes Club-->
<div class="container-fluid p-0 bajar-slider">
  <section class="jd-slider slideshow">
    <div class="slide-inner">
      <ul class="slide-area">
        <li>
          <% if (typeof userOwner.image != "undefined") { %>
            <img class="user-img" src="/img/products/<%= userOwner.image %>">
            <% } else {%>
            <img src="/img/products/imagenCancha-1654372985364-494608673.jpg">
            <% } %>
       </li>
       <li>
        <% if (typeof userOwner.image != "undefined") { %>
          <img class="user-img" src="/img/products/<%= userOwner.image %>">
          <% } else {%>
          <img src="/img/products/imagenCancha-1654372985364-494608673.jpg">
          <% } %>
     </li>
      </ul>
    </div>

  <div class="volver" href="#">
    <i class="fas fa-angle-left fa-2x text-white pl-3"></i>
  </div>
  <div class="prox" href="#">
    <i class="fas fa-angle-right fa-2x text-white pr-3"></i>
  </div>
</section>

</div>

    <h2 class="titulo1">Tus canchas:</h2>

    <div class="container-fluid p-0 bajar-slider">
      <section class="jd-slider slideshow">
        <div class="slide-inner">
          <ul class="slide-area">
            <% canchas.forEach (cancha => { %>
            <li>
              <div class="tarjetas tarjetas-canchas">
                <div class="tarjeta">
                  <div class="blob"></div>
                  <span class="img"><a href="/userOwner/agenda"><img src="/img/<%= cancha.image %>" alt=""></a></span>
                  <h3><%= cancha.identificacion %></h3>
                  <h3>$ <%= cancha.valor %></h3>

                  <form action="/userOwner/delete/court/<%= cancha.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="boton-eliminar"><i class="fa-solid fa-trash"></i></button>
                  </form>


                  <button class="boton-editar"><a href="/userOwner/editCourt/<%= cancha.id%>"><i
                        class="fa-solid fa-pencil"></i></a></button>
                </div>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>

        <a class="prev" href="#">
          <i class="fas fa-angle-left fa-2x text-white pl-3"></i>
        </a>
        <a class="next" href="#">
          <i class="fas fa-angle-right fa-2x text-white pr-3"></i>
        </a>
      </section>

    </div>
    <div class="botones-registro registroCP">
      <button class="learn-more">
        <a href="/userOwner/registrarCancha"><span class="circle01 circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text registroC">Registrá tus Canchas</span></a>

      </button>


      <button>
        <a href="/userOwner/registrarCancha" class="boton-registrar-cancha"> </a>
      </button>
    </div>

    <h2 class="titulo2">Tus escuelitas:</h2>

    <div class="container-fluid p-0 bajar-slider">
      <section class="jd-slider slideshow">
        <div class="slide-inner">
          <ul class="slide-area">
            <% escuelitas.forEach (escuelitas => { %>
            <li>
              <div class="tarjetas">
                <div class="tarjeta tarjeta-esc">
                  <div class="blob"></div>
                  <span class="img img-escuelitas"><a href="/userOwner/agenda"><img src="/img/<%= escuelitas.image %>"
                        alt=""></a></span>
                  <h3><%= escuelitas.deporte %> <br><span class="categoria">Categoría
                      <%= escuelitas.categoria %> </span> </h3>
                  <p class="descrip-tarjeta-esc">
                    <ul>
                      <li>Profesor: <%= escuelitas.profesor %> </li>
                      <li>Día: <%= escuelitas.dia %> - <%= escuelitas.registroHorarios %> </li>
                      <li>Cancha: <%= escuelitas.cancha %> </li>
                      <li>Cantidad de alumnos: <%= escuelitas.alumnos %></li>
                      <li>Precio: <%= escuelitas.valor %></li>
                    </ul>
                  </p>
                  <form action="/userOwner/delete/school/<%= escuelitas.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="boton-eliminar"><i class="fa-solid fa-trash"></i></button>
                  </form>


                  <button class="boton-editar"><a href="/userOwner/editSchool/<%= escuelitas.id%>"><i
                        class="fa-solid fa-pencil"></i></a></button>
                </div>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
        <a class="prev" href="#">
          <i class="fas fa-angle-left fa-2x text-white pl-3"></i>
        </a>
        <a class="next" href="#">
          <i class="fas fa-angle-right fa-2x text-white pr-3"></i>
        </a>
      </section>
    </div>
    <div class="botones-registro">
      <button class="learn-more">
        <a href="/userOwner/registrarEscuelita"><span class="circle03 circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="button-text">escuelitas</span></a>
      </button>
      <button>
        <a href="/userOwner/registrarEscuelita" class="boton-registrar-cancha"> </a>
      </button>
    </div>

    <h2 class="titulo2">Torneos:</h2>

    <div class="container-fluid p-0 bajar-slider">
      <section class="jd-slider slideshow">
        <div class="slide-inner">
          <ul class="slide-area">
            <% torneos.forEach (torneos => { %>
            <li>
              <div class="tarjetas">
                <div class="tarjeta tarjeta-esc">
                  <div class="blob"></div>
                  <span class="img img-escuelitas"><a href="/userOwner/agenda"><img src="/img/<%= torneos.image%>"
                        alt=""></a></span>
                  <h3><%= torneos.deporte%> <br><span class="categoria"><%= torneos.categoria%></span> </h3>
                  <p class="descrip-tarjeta-esc">
                    <ul>
                      <li>Día Inicio: <%= torneos.fechaInicio%> - <%= torneos.registroHorarios%> </li>
                      <li>Día Fin: <%= torneos.fechaFinal%> - <%= torneos.registroHorarios%>. </li>
                      <li>Cantidad de equipos: <%= torneos.cantidadEquipos%></li>
                      <li>Precio: $ <%= torneos.valor%></li>
                      <li>Premio: $ <%= torneos.premio%></li>
                    </ul>
                  </p>
                  <form action="/userOwner/delete/torneo/<%= torneos.id %>?_method=DELETE" method="POST">
                    <button type="submit" class="boton-eliminar"><i class="fa-solid fa-trash"></i></button>
                  </form>


                  <button class="boton-editar"><a href="/userOwner/editTorneo/<%= torneos.id%>"><i
                        class="fa-solid fa-pencil"></i></a></button>
                </div>
              </div>
            </li>
            <% }) %>
          </ul>
        </div>
        <a class="prev" href="#">
          <i class="fas fa-angle-left fa-2x text-white pl-3"></i>
        </a>
        <a class="next" href="#">
          <i class="fas fa-angle-right fa-2x text-white pr-3"></i>
        </a>
      </section>
    </div>

    <div class="botones-registro">

    </div>
    <div class="botones-registro">
      <button class="learn-more">
        <a href="/userOwner/crearTorneo"><span class="circle" aria-hidden="true">
            <span class="icon arrow"></span>
          </span>
          <span class="circle02 button-text"> Torneos</span></a>

      </button>


      <button>
        <a href="/userOwner/crearTorneo" class="boton-registrar-cancha"> </a>
      </button>
    </div>

    <br>
    <br>
    <br>

    <%- include('../footer') %>

  </main>
  <script src="/js/script.js"></script>
</body>

</html>